@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Open+Sans:wght@300&family=Oxygen&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

}

#menu-h {
    background-color: #490747;


}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
    background-color: #490747;
}

#menu-h ul li {

    display: inline;
}

#menu-h ul li a {
    color: aliceblue;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: backgroud .4s;
}

#menu-h ul li a:hover {
    background-color: rgb(4, 102, 132);

}

#menu-h ul li:last-child a {
    float: right;
    background-color: #046684;
}

.menu a {
    color: #333;
    text-decoration: none;
}
/* Estilos para a seção de apresentação pessoal */
section {
    margin: 20px;
    padding: 20px;
}

h1 {
    font-family: Babylonica;
    margin-bottom: 10px;
    text-align: center
}

p {
    font-size: 12px font-family: Oxygen;
    line-height: 1.5;
    text-align: center;

}



header section div img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #490747;
    transform: translate(opx);
    /*animation: float 5s ease-in-out infinite;*/
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-30px);
    }

    100% {
        transform: translatey(0px);
    }
}


.alinharimg {
    width: 575px;
    position: relative;
    top: -118px;
}


footer {
    background-color: #490747;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    position: absolute;

}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    /* altura do rodapé */
}

footer id {
    align-items: center;
}

footer img {
    width: 28px;
    height: 28px;
    position: relative;
    top: 20px;
}
footer p{
    position: relative;
    top: 15px;
    font-size: 10px;
}