@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

#menu-h ul {
    list-style: none;
    padding: 0;
    background-color: #2020f8;
}

#menu-h ul li {

    display: inline;
}

#menu-h ul li a {
    color: aliceblue;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    transition: backgroud .4s;
}

#menu-h ul li a:hover {
    background-color: rgb(3, 60, 111);

}